In [12]:
import pandas as pd

# Base API URL
API_URL = "https://data.ct.gov/resource/rybz-nyjw.csv"

# Parameters
LIMIT = 1000  # Max records per request
OFFSET = 0    # Start offset
DATAFRAMES = []  # Store each chunk

while True:
    # Construct paginated URL
    paginated_url = f"{API_URL}?$limit={LIMIT}&$offset={OFFSET}"
    
    # Read CSV chunk
    df_chunk = pd.read_csv(paginated_url)
    
    # Break if no more data
    if df_chunk.empty:
        break
    
    # Append to list
    DATAFRAMES.append(df_chunk)
    
    # Update offset
    OFFSET += LIMIT
    print(f"Fetched {OFFSET} records...")

# Combine all chunks
df_full = pd.concat(DATAFRAMES, ignore_index=True)

# Save to CSV
df_full.to_csv("Accidental_Drug_Deaths_2012_2023.csv", index=False)

Fetched 1000 records...
Fetched 2000 records...
Fetched 3000 records...
Fetched 4000 records...
Fetched 5000 records...
Fetched 6000 records...
Fetched 7000 records...
Fetched 8000 records...
Fetched 9000 records...
Fetched 10000 records...
Fetched 11000 records...
Fetched 12000 records...
Download complete. File saved as 'Accidental_Drug_Deaths_2012_2023.csv'.

In [4]:
import os
import pandas as pd

print(os.getcwd())
path = "Accidental_Drug_Deaths_2012_2023.csv"
df = pd.read_csv(path)

/Users/santiagoaristizabal/Learning/python/etl_course/Code_Learning/First_code

In [8]:
for column in df.columns:
    print("-"*50)
    print(df[column].value_counts())

--------------------------------------------------
date
2021-05-27T00:00:00.000    12
2021-11-19T00:00:00.000    11
2023-08-01T00:00:00.000    11
2021-08-24T00:00:00.000    11
2020-04-08T00:00:00.000    10
                           ..
2016-08-09T00:00:00.000     1
2021-02-20T00:00:00.000     1
2017-11-26T00:00:00.000     1
2017-09-18T00:00:00.000     1
2023-07-04T00:00:00.000     1
Name: count, Length: 3877, dtype: int64
--------------------------------------------------
datetype
Date of death    10213
Date reported     1768
Name: count, dtype: int64
--------------------------------------------------
age
36.0    340
54.0    334
33.0    319
37.0    318
35.0    315
       ...
78.0      2
84.0      1
80.0      1
87.0      1
13.0      1
Name: count, Length: 70, dtype: int64
--------------------------------------------------
sex
Male       8887
Female     3082
Unknown       2
X             1
Name: count, dtype: int64
--------------------------------------------------
race
White                                                       10079
Black or African American                                     826
Black                                                         810
Unknown                                                        62
Other                                                          51
Asian Indian                                                   26
Asian, Other                                                   24
Other (Specify)                                                13
Other Asian                                                    12
Asian/Indian                                                    5
Asian                                                           2
white                                                           2
Chinese                                                         2
Other Asian (Specify)                                           1
Korean                                                          1
Native American, Other                                          1
Hawaiian                                                        1
American Indian or Alaska Native                                1
Other (Specify) Haitian                                         1
Other (Specify) portugese, Cape Verdean                         1
Other (Specify) Puerto Rican                                    1
Black or African American / American Indian Lenni Lenape        1
Name: count, dtype: int64
--------------------------------------------------
ethnicity
Hispanic                                        972
No, not Spanish/Hispanic/Latino                 730
Spanish/Hispanic/Latino                         267
Other Spanish/Hispanic/Latino                   254
Yes, other Spanish/Hispanic/Latino              199
Not Spanish/Hispanic/Latino                      56
Yes, Other Spanish/Hispanic/Latino (Specify)     26
Puerto Rican                                     19
Unknown                                          18
Yes, Puerto Rican                                10
Yes, Mexican, Mexican American, Chicano           6
Mexican, Mexican American, Chicano                4
Cuban                                             2
Name: count, dtype: int64
--------------------------------------------------
residencecity
HARTFORD             829
NEW HAVEN            732
WATERBURY            723
BRIDGEPORT           635
NEW BRITAIN          420
                    ...
GEORGETOWN             1
NORTH SALEM            1
LONGMONT               1
DORAL                  1
MONTGOMERY CENTER      1
Name: count, Length: 536, dtype: int64
--------------------------------------------------
residencecounty
NEW HAVEN     3150
HARTFORD      2890
FAIRFIELD     1717
NEW LONDON     944
LITCHFIELD     575
              ...
GASTON           1
YANKTON          1
LUZERNE          1
CHESHIRE         1
PASQUOTANK       1
Name: count, Length: 163, dtype: int64
--------------------------------------------------
residencestate
CT    9661
NY      78
MA      67
FL      39
RI      21
NJ      17
NC      14
PA       9
ME       8
CA       7
VA       6
TX       6
GA       6
VT       5
NH       5
CO       5
SC       4
OH       4
OK       3
AL       3
IL       3
LA       3
MD       2
WA       2
DC       2
MI       2
IN       2
TN       2
IA       1
WY       1
SD       1
KY       1
MN       1
WV       1
OR       1
Name: count, dtype: int64
--------------------------------------------------
injurycity
HARTFORD       1095
NEW HAVEN       861
WATERBURY       843
BRIDGEPORT      700
NEW BRITAIN     418
               ...
PUTAM             1
HTFD              1
JEWITT CITY       1
MAMARONECK        1
TORRINGTOM        1
Name: count, Length: 297, dtype: int64
--------------------------------------------------
injurycounty
NEW HAVEN      2722
HARTFORD       2510
FAIRFIELD      1379
NEW LONDON      750
LITCHFIELD      423
MIDDLESEX       324
WINDHAM         305
TOLLAND         199
WESTCHESTER      13
UNKNOWN          11
WORCESTER         2
PUTNAM            2
EAST HAVEN        2
WASHINGTON        1
MNEW LONDON       1
SUFFOLK           1
HAMDEN            1
WATERBURY         1
Name: count, dtype: int64
--------------------------------------------------
injurystate
CT               8910
NY                 22
CONNECTICUT         7
UNKNOWN             5
MA                  3
UK                  1
MASSACHUSSETS       1
Name: count, dtype: int64
--------------------------------------------------
injuryplace
Residence                6190
Home                     1779
Other                     772
Hotel or Motel            491
Other Specified Place     369
                         ...
School, Trade               1
Multiple Locations          1
Other, Farm or Ranch        1
Residential building        1
Motel/Hotel                 1
Name: count, Length: 99, dtype: int64
--------------------------------------------------
descriptionofinjury
Substance Abuse                                    3233
Drug Use                                           1299
Substance abuse                                    1211
Substance use                                      1039
Substance Use                                       996
                                                   ...
Took illicit drug with prescribed medications         1
Injection/Ingestion                                   1
Drank Alcohol and Took Prescription Medications       1
Consumed ethanol and buprenorphine                    1
Used Cocaine and Ethanol                              1
Name: count, Length: 539, dtype: int64
--------------------------------------------------
deathcity
HARTFORD       1085
NEW HAVEN       765
WATERBURY       729
BRIDGEPORT      625
NEW BRITAIN     360
               ...
NEW CANNAN        1
WARREN            1
ROGERS            1
6340              1
LAKEVILLE         1
Name: count, Length: 238, dtype: int64
--------------------------------------------------
deathcounty
HARTFORD      2444
NEW HAVEN     2409
FAIRFIELD     1276
NEW LONDON     726
LITCHFIELD     418
MIDDLESEX      333
WINDHAM        282
TOLLAND        203
USA              1
KENT             1
Name: count, dtype: int64
--------------------------------------------------
death_state
CT    6875
RI       1
Name: count, dtype: int64
--------------------------------------------------
location
Residence                     4800
Hospital                      2338
Other                         1559
Decedentâ€™s Home                776
Hospital - ER/Outpatient       400
Other (Specify)                362
Hospital - Inpatient           246
Hospital - Dead On Arrival      81
Decedent's Home                 52
Nursing Home                    10
Convalescent Home                3
Hospice                          3
Assisted Living                  2
Shelter                          1
Hiospital                        1
Hospice Facility                 1
Name: count, dtype: int64
--------------------------------------------------
locationifother
Friend's Residence     68
Hotel                  42
Friend's House         41
Friend's Home          36
In Vehicle             28
                       ..
Girlfriend's apt.       1
Uncle's House           1
Abandoned Garage        1
Temporary Residence     1
Parked vehicle          1
Name: count, Length: 543, dtype: int64
--------------------------------------------------
cod
Acute Fentanyl Intoxication                                                                                             553
Multiple Drug Toxicity                                                                                                  131
Heroin Intoxication                                                                                                     130
Acute Cocaine Intoxication                                                                                              128
Acute Heroin Intoxication                                                                                               121
                                                                                                                       ...
Acute Intoxication due to the Combined Effects of Diazepam, Diphenhydramine, Heroin, and Oxycodone                        1
Acute heroin fentanyl methamphetamine toxicity                                                                            1
Acute Intoxication due to the Combined Effects of Heroin, Tramadol, and Ethanol                                           1
Acute Intoxication due to the Combined Effects ofDextromethorphan, Doxylamine, Ethanol, Methocarbamol, and Oxycodone      1
Chronic Pancreatitis with Hyperglycemic Ketoacidosis Complications of Chronic Alcohol Use                                 1
Name: count, Length: 7625, dtype: int64
--------------------------------------------------
mannerofdeath
Accident     11942
Pending         14
accident        13
ACCIDENT         1
Natural          1
Acciddent        1
Name: count, dtype: int64
--------------------------------------------------
othersignifican
Recent Cocaine Use                                                                           198
Hypertensive and Atherosclerotic Cardiovascular Disease                                      148
Recent cocaine use                                                                            64
Hypertensive Cardiovascular Disease                                                           44
Hypertensive And Atherosclerotic Cardiovascular Disease                                       43
                                                                                            ...
Drowning                                                                                       1
Obesity with Cardiac Hypertrophy                                                               1
Cardiac Hypertrophy with Dilation, Obesity                                                     1
Recent Cocaine Use, Hypertension                                                               1
Acute Intoxication by the Combined Effects of Oxycodone, Oxymorphone, and Diphenhydramine      1
Name: count, Length: 390, dtype: int64
--------------------------------------------------
heroin
Y    3578
Name: count, dtype: int64
--------------------------------------------------
heroin_dc
Y    740
Name: count, dtype: int64
--------------------------------------------------
cocaine
Y    4582
Name: count, dtype: int64
--------------------------------------------------
fentanyl
Y           8044
Y POPS         1
Y (PTCH)       1
Name: count, dtype: int64
--------------------------------------------------
fentanylanalogue
Y    975
Name: count, dtype: int64
--------------------------------------------------
oxycodone
Y    1017
Name: count, dtype: int64
--------------------------------------------------
oxymorphone
Y    162
Name: count, dtype: int64
--------------------------------------------------
ethanol
Y    3204
P       1
Name: count, dtype: int64
--------------------------------------------------
hydrocodone
Y    169
Name: count, dtype: int64
--------------------------------------------------
benzodiazepine
Y    2716
Name: count, dtype: int64
--------------------------------------------------
methadone
Y    1077
Name: count, dtype: int64
--------------------------------------------------
meth_amphetamine
Y    127
Name: count, dtype: int64
--------------------------------------------------
amphet
Y    431
Name: count, dtype: int64
--------------------------------------------------
tramad
Y    302
Name: count, dtype: int64
--------------------------------------------------
hydromorphone
Y    77
Name: count, dtype: int64
--------------------------------------------------
morphine_notheroin
Y                   56
NO RX BUT STRAWS     1
STOLE MEDS           1
PCP NEG              1
Name: count, dtype: int64
--------------------------------------------------
xylazine
Y    1076
Name: count, dtype: int64
--------------------------------------------------
gabapentin
Y    469
y      1
Name: count, dtype: int64
--------------------------------------------------
opiatenos
Y    127
Name: count, dtype: int64
--------------------------------------------------
heroin_morph_codeine
Y    2157
y      45
Name: count, dtype: int64
--------------------------------------------------
other_opioid
Y                      90
PCP                    47
Bupren                 35
Buprenorphine          25
DiFluoro                7
Protonitazene           3
Difluro                 3
pcp                     2
BATHSALT                1
Mitrag                  1
CODEINE                 1
Metonitazine            1
Mitragynine             1
ketamine                1
MDMA, Buprenorphine     1
MDMA                    1
Codeine                 1
MDMA, LSD, Ketamine     1
Name: count, dtype: int64
--------------------------------------------------
anyopioid
Y    8825
N     119
Name: count, dtype: int64
--------------------------------------------------
other
PCP                    165
Bupren                 111
Xylazine                65
morphine                29
HYDROMORPH              28
                      ...
Ketamine                 1
MORPH/COD                1
DIFLOURO                 1
propofol                 1
MDMA, LSD, Ketamine      1
Name: count, Length: 153, dtype: int64
--------------------------------------------------
residencecitygeo
\nHARTFORD, CT \n(41.765775, -72.673356)      704
\nBRIDGEPORT, CT \n(41.179195, -73.189476)    545
\nWATERBURY, CT \n(41.554261, -73.043069)     542
\nNEW HAVEN, CT \n(41.308252, -72.924161)     493
\n, CT \n(41.575155, -72.738288)              389
                                             ...
\nTACONIC, CT \n(42.035599, -73.408302)         1
\nWESTFIELD, CT \n(41.584702, -72.701103)       1
\nFAIR HAVEN, CT \n(41.3111, -72.896103)        1
\nNEW BRIT, CT \n(41.666599, -72.771301)        1
\nNAPLES, CT \n(26.1474521, -81.7954521)        1
Name: count, Length: 632, dtype: int64
--------------------------------------------------
injurycitygeo
\nHARTFORD, CT \n(41.765775, -72.673356)                        930
\nWATERBURY, CT \n(41.554261, -73.043069)                       612
\nBRIDGEPORT, CT \n(41.179195, -73.189476)                      605
\nNEW HAVEN, CT \n(41.308252, -72.924161)                       560
\nNEW BRITAIN, CT \n(41.667528, -72.783437)                     368
                                                               ...
\nCHESTER, CT \n(41.405904771, -72.483038834)                     1
\nWINCHESTER, CT \n(41.92118000000005, -73.06811999999996)        1
\nBOZRAH, CT \n(41.56752000000006, -72.15060999999997)            1
\nBEACON FALLS, CT \n(41.44505000000004, -73.06030999999996)      1
\nWILTON, CT \n(41.207012174, -73.440066007)                      1
Name: count, Length: 493, dtype: int64
--------------------------------------------------
deathcitygeo
\n, CT \n(41.57350273000003, -72.73830590799997)    1452
\n, CT \n(41.57350273, -72.738305908)               1324
\nHartford, CT \n(41.765775, -72.673356)            1085
\nNew Haven, CT \n(41.308252, -72.924161)            765
\nWaterbury, CT \n(41.554261, -73.043069)            729
                                                    ...
\nEast Hartland, CT \n(41.998901, -72.9058)            1
\nNew Cannan, CT \n(41.148498, -73.493705)             1
\nWarren, CT \n(41.744496, -73.348848)                 1
\nRogers, CT \n(41.840302, -71.9067)                   1
\nLakeville, CT \n(41.958312, -73.437314)              1
Name: count, Length: 240, dtype: int64